body {
    font-family: sans-serif;
    font-size: 1em;
    margin: 0;
}
.firstSection {
    background: rgba(50, 50, 50, 0.9) url("../img/bg.jpg") no-repeat;
    background-blend-mode: saturation;
    background-size: cover;
    color: white;
    height: 545px;
}
.content {
    color: gainsboro;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.logoHeader {
    height: 65px;
    width: 100%;
}
.logo {
    color: white;
    display: inline-block;
    font-weight: bold;
    height: 20px;
    text-decoration: none;
    position: relative;
    top: 80%;
    transform: translateY(-50%);
}
.studio {
    color: rgb(255, 123, 0);
    vertical-align: inherit;
}
nav {
    display: inline-block;
    font-size: 0.7em;
    position: relative;
    top: 80%;
    left: 79%;
    transform: translateY(-50%);
}
#menuSymbol {
    font-size: 1.5em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
}
.dropdown-content a {
    color: gainsboro;
    padding: 2px 10px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#wedesignthings {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
}
.accent {
    color: rgb(255, 123, 0);
}
p {
    text-align: center;
}
.buttons {
    width: 345px;
    margin: 5% auto;
}
button {
    background: none;
    border-color: gainsboro;
    border-radius: 7px;
    border-style: solid;
    border-width: 1pt;
    color: gainsboro;
    font-size: 0.6em;
    height: 35px;
    margin: 0 10px;
    text-transform: uppercase;
    width: 150px;
}
button:hover {
    background-color: rgb(255, 123, 0);
    border: none;
    color: white;
}
#nextSection {
    border: 2px gainsboro solid;
    border-radius: 100%;
    color: gainsboro;
    text-decoration: none;
    padding: 5px 10px;
    position: relative;
    left: 48%;
    top: 100px;
}
 
.secondSection {
    height: 300px;
    width: 100%;
}
.flexbox {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    margin: 40px auto;
    vertical-align: bottom;
    width: 750px;
}
.flexitem {
    color: #8A8A8A;
    font-size: 0.6em;
    height: auto;
    margin: 40px;
    min-width: 50px;
    text-align: justify;
    width: 15%;
}
h1 {
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    max-height: 110px;
}

.thirdSection {
    background: rgba(50, 50, 50, 0.9) url("../img/bg.jpg") no-repeat;
    background-blend-mode: saturation;
    background-size: cover;
    color: white;
    height: 185px;
}
#email {
    margin: 0 auto;
    padding-top: 8%;
    position: relative;
    width: 550px;
}
input {
    border-radius: 7px;
    height: 30px;
    width: 350px;
}
#subscribe {
    background-color: rgb(255, 123, 0);
}